# Ignore virtual environment
pytest-env/

# Ignore python cache files
__pycache__/
*.pyc
*.pyo

#Ignore this bash script
!docker/test/wait-and-test.sh
# Ignore test report artifacts

# Ignore macOS system files
.DS_Store
